[2016-07-14 01:45] gnrcampos opened #1 "Wrong ulr on Worker machine email functionality"
Hi mate, I've been strugglin with something for the past hours or so and maybe you can point me in the right direction here. I've been using your lib for some time now (congratulations, it's amazing!) and I'm having an error when I try to send an email asynchronously. The blade template for the email is this one, very simple:
`Click here to reset your password: {{ url('/password/reset/' . $token)

[2016-07-14 05:45] dusterio commented on #1
Hi!

It sounds like your APP_URL is not set/available when running a webhook.

Do you have APP_URL set in your environment (in AWS worker's configuration)?
Do you have clear_env set to 'no' in your PHP FPM config? So that OS environment is visible to PHP

[2016-07-14 10:14] gnrcampos commented on #1
Thank you for your quick response. I didn't have `APP_URL` set so I did it and the problem is still there. I can't find the `php-fpm.conf` file to set the `clear_env` to `no` though. However, when I run `php artisan tinker` and do a `getenv('APP_URL')` I get the correct value so it should be working... Any other ideas?

[2016-07-15 05:23] dusterio commented on #1
This is not necessarily interconnected - your tinker is a CLI environment, and your failing request, as far as I understand, is a web request (and therefore is an FPM environment). So it could be that your PHP-FPM doesn't have the same environment variables, particularly APP_URL? Easy to test that, try to echo env('APP_URL') in one of your controller methods, and do a web request?

[2016-07-15 05:31] gnrcampos commented on #1
Ok, what I did was I changed the return of my `Route::get('/')` method to 'return env('APP_URL')'. After that I did a `wget localhost` and the return was the correct url, so I guess that's not the problem yet =/

[2016-07-15 05:41] dusterio commented on #1
Try changing the default value of APP_URL in config/app.php? It's a workaround but at least we will see for sure it's not about APP_URL

[2016-07-15 05:45] gnrcampos commented on #1
Manually set the `'url'` parameter inside the `config/app.php` to `test.com` and it still gives me `http://localhost` on the email.

[2016-07-22 01:57] #1 closed

[2016-07-22 02:19] gnrcampos commented on #1
Still haven't fixed it =/

[2016-07-22 03:32] dusterio commented on #1
Sorry I know! But it's just not related to this package directly, that's why I closed the issue!

So, no luck on this?

[2016-07-22 03:34] gnrcampos commented on #1
No worries... Yeah still no luck, what I did was I hardcode the url, bad solution but it's working until I find the real issue.

[2016-08-22 09:59] Hoya opened #2 "Unclear documentation"
Your documentation is unclear as to how a queue sent to SQS is processed in a Laravel/Lumen.

First off, your `/worker/schedule` endpoint seems to be successful in firing scheduled jobs within `Console/Kernel.php` but I don't see the purpose of your code as you could just set `cron.yaml` to run whatever endpoint you want (when you want). Not to mention that your sample code `$schedule->command('in

[2016-08-22 10:13] dusterio commented on #2
1) There are at least two points – first of all, you get a single point of configuration. All scheduled tasks are in PHP code, compiled using a convenient fluent API. If you use cron.yaml – you need to duplicate the same information (which tasks and when) for AWS and non-AWS environments.

And secondly, scheduled tasks are quasi-evenly distributed among instances. AWS will fire a /worker/schedule

[2016-08-22 10:32] ibreakshit commented on #2
I understand that it _might_ make sense when you're trying to implement AWS + non-AWS.

I might not be fully understanding the correct way to use your code but my goal and understanding is that multiple Laravel instances should be able to send queues via SQS to a single worker(Elastic Beanstalk Worker)for processing.

If that is the case, the single worker would need to be able to "listen" for new

[2016-08-22 10:42] dusterio commented on #2
That is correct - my code is indeed providing an alternative way. It goes in the direction of least resistance - I'm relying upon Amazon sqsd to parse the queue and deliver the jobs. Laravel will simply receive a ready-to-deserialize payload.

It's a very important detail that using this package - you are pretty much guaranteed that each task (be it a scheduled task or a queued task) will be proce

[2016-08-22 10:52] ibreakshit commented on #2
Thanks so much for the explanation, it looks like I was a bit confused as to how SQS and EB Worker functioned together, everything seems to be working out as I expected!

[2016-08-26 12:37] Hoya opened #3 "Random curl errors"
I've been running into this error from time to time. Error seems to be an error related to ssl certs but unclear how to handle it.

Maybe there should be an option to switch off ssl validation? Just FYI.

[code]

[2016-08-26 14:02] dusterio commented on #3
Hi!

According to the trace, it seems that it's your job, and to be exact, your mailer that causes this error – some SSL settings are perhaps missing, and Mandrill needs those.

I would say with 99% confidence that this is not related to this package

[2016-08-26 15:47] ibreakshit commented on #3
I apologize. I'm using the default Mail packaged with Laravel 5.2 (I'm on lumen 5.2) Illuminate\Mail\MailServiceProvider using the default Mandrill driver. I'll take it up with them, thanks!

[2016-08-26 16:02] ibreakshit commented on #3
Just in case: https://laracasts.com/discuss/channels/laravel/random-curl-error-77-mail-mandrill-driver-aws-sqs

[2016-09-12 13:56] Hoya opened #4 "Support for Lumen 5.3?"
Hey, it's me again, sorry to bug you again but I seem to have trouble with getting the worker work with Lumen 5.3.

This is the error I'm seeing

[code]

I've downgraded to Lumen 5.2 for now.
Thanks.

[2016-09-12 21:27] dusterio commented on #4
Thanks for noticing - I will fix this shotly

[2016-09-14 02:39] #3 closed

[2016-09-14 04:12] dusterio commented on #4
This should be ok now - I've tested in Lumen and Laravel both

[2016-09-14 04:12] #4 closed

[2016-09-14 05:22] #2 closed

[2016-10-16 15:41] dgmann opened #5 "Laravel 5.1 support"
Hi. Do you have any plans to also support Laravel 5.1?

[2016-10-16 22:38] dusterio commented on #5
I will take a look today! If it's something simple, I will add it

[2016-10-17 03:39] dusterio commented on #5
Seems to be working fine now!

[2016-10-17 03:39] #5 closed

[2016-10-19 23:24] Mochaka opened #6 "Queue"
Hello,

How do i set up the queue with this? I don't see any explanation on how the queue works. How does AWS know to push it to that specific route?

I'm a bit confused.

[2016-10-19 23:58] dusterio commented on #6
@Mochaka when you create a worker environment in AWS, it forces you either to create a new SQS queue or choose an existing one. So there is always a queue associated with a worker.

Then, you just set environment variables to tell Laravel about that queue - QUEUE_DRIVER, S3_KEY, S3_SECRET and so on (see config/queue.php).

I guess I should improve the README :)

[2016-10-19 23:59] aaronflorey commented on #6
Ohhh, forgot totally about the worker tier and didn't know it subscribed to SQS. Thanks for that, might want to add that to the README so nubs can understand 🤓

[2016-10-20 00:00] #6 closed

[2016-10-20 02:11] Andreyco opened #7 "Routes not registered"
I am getting weird issue.

Having `APP_ENV=production` routes are not registered.
Setting `APP_ENV` to anything else fixes this - routes are registered as you would expect.

I see, this is expected behaviour, according to [source code](https://github.com/dusterio/laravel-aws-worker/blob/master/src/Integrations/LaravelServiceProvider.php#L27).
Is it possible to explain reasoning?

[2016-10-20 02:18] dusterio commented on #7
@Andreyco it's actually done on purpose - to protect production (public) websites from users calling /worker/queue or /worker/schedule directly. The idea is to set worker environments (APP_ENV) to something like production-worker instead. I will put this in the README.

If you have a better idea of how to isolate these 2 special routes from public - share :))

[2016-10-20 03:03] dusterio commented on #7
I added this in README

Alternative implementation could be an extra environment variable (eg. REGISTER_ROUTES). If it's set - routes are added.

I just don't like the idea of registering the routes by default - you don't want normal users to run your jobs ;)

[2016-10-20 18:10] Andreyco commented on #7
_How I reason about Laravel worker app_
- it processes long running tasks.
- it runs in its very own container/environment.
- it's not accessible from outside - only AWS daemon pushes POST requests to worker. Based on this, I don't see any reason to worry about URLs being registered in any environment. They are not accessible from outside.

Is there any possibility anyone would use this package ou

[2016-10-20 23:56] dusterio commented on #7
You are right, but very often people run the same application in both web and worker environments. Moreover, Laravel actually assumes that you are doing so - jobs are serialized on one end, and they are supposed to correctly desereliaze and run (read - have all the same classes and methods available) on another end.

Therefore, people would add this package and it would go to both worker and web e

[2016-10-21 00:39] dusterio commented on #7
https://github.com/dusterio/laravel-aws-worker/releases/tag/v0.1.8

I added REGISTER_WORKER_ROUTES variable and currently it's set to true by default (to avoid service interruption for existing users)

[2016-10-21 00:39] #7 closed

[2016-10-25 18:48] Andreyco commented on #7
Yep, you are correct.

I have jobs with empty "handle" method on public facing app + very same job with "handle" implemented on worker app.

One one side it leads to (very low) duplications but on the other side responsibilities are clear here.

Seems line env variable + major version bump (no to break existing code) would be best solution here.

Sent from my iPhone

[2016-10-26 21:25] enkay opened #8 "Schedule not working - HTTP 301"
I've installed the package and set up a worker environment with the cron.yaml file, however it doesn't seem like the schedule method is being run.

From the worker's access log:

`127.0.0.1 (-) - - [26/Oct/2016:21:16:59 +0000] "POST /worker/schedule HTTP/1.1" 301 225 "-" "aws-sqsd/2.3"`

Do you have any idea what could be the issue here?

[2016-10-26 21:34] dusterio commented on #8
Hmm, 301 is a permanent redirect - and it's not used anywhere in the package or controller

Do you have redirects anywhere in your application, in other routes?

[2016-10-26 21:58] enkay commented on #8
If I set the REGISTER_WORKER_ROUTES variable to true on the production environment, and I send a post request to /worker/schedule on the website it works.

It's just in the worker environment that it doesn't work, it sends a message to http://localhost:80/worker/schedule and it gives an http-err.

I do have redirects on other routes, but I don't know why it would be hitting those on the worker and

[2016-10-26 22:00] enkay commented on #8
Could it have to do with the worker environment being in a VPC? But then so is the production environment.

[2016-10-27 02:21] dusterio commented on #8
Do you have your web application running in worker environment? VPC shouldn't be an issue - Amazon makes those calls from inside, also you wouldn't see anything in the log if AWS couldn't reach you

[2016-10-27 05:39] enkay commented on #8
The problem was with a .ebextensions file that was setting a redirect. Thanks for your help.

[2016-10-27 05:39] #8 closed

[2016-11-10 23:27] graphem opened #9 "Error token mismatch"
Not sure exactly what I am doing wrong but seems I am getting this on the worker schedule on AWS EB worker instance:

worker.ERROR: Illuminate\Session\TokenMismatchException in /var/app/current/bootstrap/cache/compiled.php:3227

So seems like the route is looking for Csrf token.

Do I simply need to exlude the route from the token verification?

[2016-11-10 23:56] dusterio commented on #9
Yep, absolutely right - just remove CSRF middleware from these routes!

On Fri, 11 Nov 2016 at 10:27, graphem notifications@github.com wrote:

[2016-11-11 00:04] graphem commented on #9
Yes it works, thanks! Might be an idea to add to the doc. Great package by the way, love it.

[2016-11-17 00:29] #9 closed

[2017-03-02 05:36] aromka opened #10 "eb deploy"
Not a package issue, but just wondering how you do deployments, or if you have any tips for deployment?

Usually if you're using EB CLI, you have branch defaults in config, so doing `eb deploy` - deploys proper branch to a proper environment. Is there any way to group the environments (web + worker), so if you deploy to one - it would auto-deploy the same version to the other environment?

[2017-03-04 16:55] aluferraz opened #11 "Advantages of processing using laravel jobs"
Hi,

I'm a little bit confused.. The advantage of using this package is that we can schedule and retrieve the jobs in a "laravel standard" way?

Currently I've created some POST routes, available only in the worker environment and they process all the time consuming tasks directlly, returning 200 if all went fine.

Example:

`if(isWebEnvironment){`
`  $app->post('/email', function(){`
`     ....`

[2017-03-07 23:52] xoco70 opened #12 "Kind of confused between what should be on the app, and what should be on the worker"
Hi,

I have to tell it is the first time I use a Worker in Elastic Beanstalk.

I'm a bit confused, because I followed all documentation, and nothing happens :( My worker should send me an email every minutes.

In the Worker logs, I just have:

[code]

So, I don't really know if your plugin should be installed in the Main App, or in the worker
The same with cron.yaml, should I install it on the wor

[2017-03-22 06:04] gnrcampos commented on #12
@xoco70 in my case I have the same code for both the app servers and the workers. I believe that this is the easiest way to go cause you don't need to test two different setups every time you change something. Maybe you can try merging your codes to see if it works.

[2017-03-22 09:19] dusterio commented on #12
@xoco70 this package has to be installed in the worker app (or in both). just make sure your other app is creating/enqueueing jobs and that these jobs land in SQS attached to your worker

[2017-03-23 00:08] patroniton opened #13 "SQS messages (scheduler and queued jobs) stuck in flight then moved to dead queue"
I'm trying to implement this package for my application's scheduling and queues.

The scheduling is working great except that the messages look like they're stuck In Flight and don't get deleted properly.

I think I have mostly everything set up correctly. SQS is receiving the messages on the queue and the messages are immediately put into "In flight" and stay there until what I think is the visib

[2017-03-28 14:49] EdwinDayot opened #14 "Maximum function nesting level reached on Lumen 5.4.5"
Hi,

After an update of my composer dependencies (Lumen 5.4.5 and others), it appears that laravel-aws-worker library does not work anymore.

## Homestead result

I tried to simulate (including headers and body as expected) the behavior of the SQS and the response leads into the Maximum function nesting level reached:

### XDebug disabled

**Fatal error**: Maximum function nesting level of '512' r

[2017-03-29 09:12] EdwinDayot commented on #10
I use Buddy for this kind of stuff, but you could use Laravel Envoy for a free way of doing it (but you'll have to write code :) ).

[2017-03-29 09:34] dusterio commented on #10
@aromka I put it all in the CI build scripts - it will choose where to deploy depending on branch. For Laravel I had to make some extra conditions in the scripts, eg. specific apps should be deployed to two destinations after every build.

So basically just running 'eb deploy' twice, with two different destination environment names.

Couldn't find a better way with AWS...

[2017-03-30 08:58] njbarrett commented on #13
Hey there, I am also experiencing this issue. Did you solve it?

[2017-03-30 09:14] dusterio commented on #14
Hmm, thanks for the notification, I will check this tomorrow!

[2017-03-30 09:26] njbarrett commented on #13
In my case I forgot to set the document root of my worker to `/public` !

[2017-03-30 17:16] patroniton commented on #13
Unfortunately I did have that set on mine. So still no solution on my end.

[2017-03-31 02:56] dusterio commented on #14
Hmm, I tried this both in Laravel 5.4.16 and Lumen 5.4.5 - it worked fine in both.

Where did you get Lumen 5.4.13? I don't see it in releases on GitHub: https://github.com/laravel/lumen-framework/releases

[2017-03-31 05:45] njbarrett commented on #13
What helped debug my issue sshing into the worker and running `tail -f /var/log/aws-sqsd/default.log` to see whether the daemon was sending messages and to where.

[2017-03-31 08:28] EdwinDayot commented on #14
My bad, it was 5.4.5, I'll update the issue.

Maybe I'm not doing the right things to make it work:

`bootstrap/app.php`:

[code]

My `config/queue.php` is properly configured (with env variables) and I use this:

[code]

I should probably make some precisions: the MyEvent class `implement`s the `ShouldBroadcast` `interface` since I want this event to be broadcast through Pusher. Following the "[E

[2017-04-05 08:01] EdwinDayot commented on #14
I've received an event from Sentry giving some more details about the error happening on AWS: [https://sentry.io/share/issue/3135333033382e323436393739323537/](https://sentry.io/share/issue/3135333033382e323436393739323537/)

[2017-04-06 07:32] EdwinDayot commented on #14
Any news about this issue ?

[2017-04-07 02:13] dusterio commented on #14
@EdwinDayot well, I couldn't reproduce this :/ maybe it's related to your app or your specific use? Sounds like a recursive loop somewhere?

[2017-04-13 08:31] mubbashar opened #16 "Multiple Worker Server Environment"
Hi,
Thanks for this awesome package. Can you tell me how this handle scheduler command when there are multiple web server are running. Is it only run on one worker server Or the the scheduler will run on every worker server and this will cause duplicate message in the queue ?

thanks!

[2017-04-13 08:55] dusterio commented on #16
@mubbashar every command will only be executed once - by one of the worker instances, the one that pops the job from the queue first (even though technically with AWS the queue comes to you as a POST request). There will be no duplicates

[2017-04-13 08:59] mubbashar commented on #16
thanks for clarification. i was afraid if worker run schedule command then there will be duplicates because every worker will have their own cron.yaml file and every one call /worker/schedule every minute

[2017-05-16 17:55] reganjohnson commented on #16
@dusterio We are considering this package. Could you clarify your point regarding the **SCHEDULER** and multiple workers?

We have multiple jobs setup that get executed at the same time (ie ->hourly()). Does the scheduler parse the commands that need to be run and push them to the queue as individual items or does the worker receiving the request process all jobs that evaluate true for the given c

[2017-05-16 21:41] dusterio commented on #16
@reganjohnson one scheduled command (eg. hourly()) will only be passed and processed by one worker - whichever worker pulls from the queue first

[2017-06-01 22:43] graphem commented on #1
I got the same issue and I am totally clueless. Anyone has found a fix or potential solution?

[2017-06-20 13:56] andreclemente opened #18 "Messages always in Flight"
Hi. After applying this package to my project worker, messages in my sqs stay always in flight. I've done everything that the readme file says...

[2017-06-20 19:09] andreclemente commented on #13
Someone solved this?

[2017-06-20 19:26] andreclemente commented on #13
2017-06-20T19:25:07Z message: sent to http://localhost:80
2017-06-20T19:25:07Z message: sent to http://localhost:80
2017-06-20T19:25:07Z http-err: 34681df7-347d-4447-9287-bae7601e4b21 (546) 500 - 0.012
2017-06-20T19:25:07Z http-err: 8fbbab2f-77a7-4397-8524-0af26a7574af (224) 500 - 0.013
2017-06-20T19:25:07Z message: sent to http://localhost:80
2017-06-20T19:25:07Z message: sent to http://localhost

[2017-06-21 14:48] njbarrett commented on #13
@andreclemente it looks like your app is retuning a 500 error. So you may want to check the error logs at `/var/log/apache2/error.log`

[2017-06-27 23:51] gnrcampos commented on #1
@graphem I found one. Still not sure why the error itself occurs, but those are the steps I used:
1- Create a config file for your env variables inside the /config folder with all of the values you will need. Example:

    return [
        'value1' => env("VALUE_1"),
        'value2' => env("VALUE_2"),
        'value3' => env("VALUE_3"),
    ];

2- Create a post deploy hook script to cache your co

[2017-07-14 15:29] tobsbola opened #19 "Is Queue Configuration needed for Scheduled tasks"
Hi!,

Am trying to figure out if I need to set up **Configure any queue** if all I need is just Scheduled tasks.

Thanks

[2017-07-16 19:26] ido567 opened #20 "Schedule request returns 302"
I've installed the package in my project, but it looks like all the requests of '/worker/schedule' returns 302 status code on EB servers.
The package works perfectly on my local machine, and I made sure that the 'REGISTER_WORKER_ROUTES' env variable is turned on.

The logs:
`/var/log/httpd/access_log:`
`127.0.0.1 (-) - - [16/Jul/2017:19:09:00 +0000] "POST /worker/schedule HTTP/1.1" 302 376 "-" "aw

[2017-08-18 14:24] pushchris opened #21 "Add a new release with latest commits"
Could you please create a new release ```0.2.0``` that includes the commit https://github.com/dusterio/laravel-aws-worker/commit/b055919ebe21e8cf0ccd81865826fcce8a9529ba which improves upon exception handling? Thanks.

[2017-09-07 09:39] bobbygrossmann commented on #20
Did you get it resolved ? Im getting same error.

[2017-09-07 12:01] bobbygrossmann commented on #20
I hade the same issue but i figure out that App\Http\Kernal  line16 ( protected $middleware)  was holding it back, just outcomment it and my worker was fixed. However if your using same app as worker you should do a env check :)

[2017-09-07 19:17] ido567 commented on #20
My problem was that I added a package which forces all requests to be 'https' and EB requests was 'http'.
Disabling this restriction in the worker environment solved this issue.
The package uses middleware to check the protocol, so it might be your problem too.

[2017-09-08 05:33] bobbygrossmann commented on #20
Aha yes i have same flow, will see if its that.

[2017-09-13 18:58] Aciurc opened #22 "Tasks executing twice"
The Schedule function in App\Console\Kernel is being called twice every minute (1-3 seconds apart).
I have a call in the Schedule function as follows:
[code]
Every minute I see two of these records created seconds apart. For additional testing I moved the record creation outside of the `->call()` and directly into the Schedule function and that is also appearing twice in the database, which means

[2017-09-14 06:05] #22 closed

[2017-09-14 06:06] Aciurc commented on #22
Problem was that I had the cron.yaml in both my main app and the worker

[2017-09-29 19:33] hakuno commented on #14
My Lumen (5.4) also has this problem.

[2017-10-11 13:07] mellis3 commented on #13
I'm also seeing a 500 error when looking at my logs on the Worker instance of Elastic Beanstalk. Works fine in my localhost. How do i debug the errors? /var/log/apache2 does not exist so i'm not sure where to find an error log

Thanks!

[2017-12-14 13:26] mstnorris opened #26 "Do I need two tiers, a web tier and a worker tier?"
Do I need two environments? One in a web tier and the other in a worker tier? Both running the same codebase?

[2017-12-14 13:34] #26 closed

[2018-01-02 14:04] mstnorris opened #27 "Support for FIFO queues?"
Hi there, do you plan on building in support for FIFO queues?

[2018-01-04 00:36] dusterio commented on #27
@mstnorris hmm, how does it affect the worker exactly? I thought it's just an AWS setting and the worker wouldn't even realize it's popping from a FIFO queue?

[2018-02-09 22:39] carlosten opened #29 "Laravel 5.6 issue"
After updating to Laravel 5.6, the server responds with error 500 when a message arrive in the worker.

Anyone having this issue?

[2018-02-09 22:45] #29 closed

[2018-02-09 22:49] ghost commented on #29
Perfect. Thanks! 👍

[2018-02-13 00:29] poisa commented on #16
For future reference: cron.yaml is only created in the leader instance in you aws workers. So if you have 10 instances, only ONE will run the crons. Technically one instance will create an SQS message which goes into the queue and is processed by any other instance that picks it up. If your queue is super busy, then this cron message might not be processed in time.

https://docs.aws.amazon.com/ela

[2018-02-15 07:03] rs2801 opened #31 "Does not work with Lumen 5.6"
Due to how the serviceprovide has a preg match it is not passing in the correct parameter to add routes.  It should be more flexible to cater for future versions of lumen.

It should pass in app->router but is instead passing ->app only

[2018-02-27 11:55] ackerchez opened #32 "Memory Issue?"
Hey All, When I install this plugin on my Laravel 5.5 AWS Elastic Beanstalk worker I see that even for the simplest job hitting the queue it is maxing out 100% of the memory on my worker environment. Does anyone know why that would happen?

When I say the simplest job, I mean a job that get dispatched through SQS and uses the worker to log int he DB that it was touched.

Thanks!

[2018-02-27 18:47] jlorente opened #33 "Drop use of env function to support cached environments"
env() function returns null when the configuration is cached and the "REGISTER_WORKER_ROUTES" environment variable is ignored.

I think it will be a good point to publish a configuration file and read the value from this file.

[2018-02-27 18:58] slumrig commented on #19
Its not very clear in the AWS documentation but I believe you can set up events in AWS CloudWatch that will push messages onto a queue on a schedule.

[2018-03-14 16:13] ronaldwraithco commented on #12
@dusterio Do you need to create a new database for the workapp too? If you can use the same database, how do you do that?

[2018-03-14 18:58] ronaldwraithco commented on #18
I got the same issue. Have you figure out it yet?

[2018-03-14 20:50] ronaldwraithco opened #36 "Can someone add an example?"
Add an example for the worker and the application.

[2018-03-15 02:51] dusterio commented on #18
Do you return a HTTP status code of 200 when you process the job? AWS should delete the queue job automatically upon 200 response

[2018-03-15 14:46] ronaldwraithco commented on #18
It only becomes 200 when I set REGISTER_WORKER_ROUTES to true.
What should I use for the queue name? The name I used in the cron.yaml or queue name in the sqs console.

[2018-03-15 15:32] ronaldwraithco commented on #18
I figure out I don't have the permission to use the queue through the API. After I add the permission in the account, the application finally able to process the queue message.

[2018-03-15 16:26] ronaldwraithco commented on #13
You may need to composer require aws/aws-sdk-php

[2018-03-16 14:22] ronaldwraithco opened #37 "I think my worker app is working fine but my main app is not creating jobs."
127.0.0.1 (-) - - [16/Mar/2018:14:19:59 +0000] "POST /worker/schedule HTTP/1.1" 200 100 "-" "aws-sqsd/2.3"

My worker post on /worker/schedule.
But my main app is not responding at all. I have set the queue driver to sqs and set the credentials. Is there anything else I have to do in the main app to create the jobs?

[2018-04-09 22:23] t202wes commented on #11
It's advantageous because you're only using CPU compute time to process a job when one exists, instead of constantly pulling.

[2018-04-16 09:52] tajhulfaijin commented on #32
have you try to destroy all variable in the end of your jobs? Simply just unset it :
[code]

[2018-04-26 10:51] zandzpider opened #38 "lock/mutex is never cleaned up when running a command with runInBackground()"
[code]

running this with the console command `php artisan schedule:run` works perfectly and cleans up the lock file as expected.

if i remove "runInBackground" everything works as expected.
with runInBackground it seems to run the code but never cleans up
which causes future events to not be run

this actually stopped working after i upgraded from laravel 5.3 to 5.5.

no exceptions or other warni

[2018-04-27 11:44] zandzpider commented on #38
i've drilled down on what is happening here. i'll give it a shot on explaining it.
if it's unclear, just tell me and i'll explain some more.

the issue is the way the name of the lock file is generated.

when you run the command, it generates the mutex/lock string (this is in the Laravel code)

```return 'framework'.DIRECTORY_SEPARATOR.'schedule-'.sha1($this->expression.$this->command);'```

the i

[2018-04-27 12:37] zandzpider commented on #37
you can check the sqs queue in aws to see if it's delivering jobs. if it's not. then it's a laravel/config issue and not this package

[2018-06-15 12:41] mwargan opened #39 "Too many requests"
I think I'm misunderstanding something, but it looks like my Queue is receiving a message every minute even if its empty. Looking at the CRON schedule, I guess that's expected. But this is eating up my free tier for SQS with over 867k requests in two weeks. How do I lower the amount of messages sent to SQS, or stop a message being sent if its empty?

[2018-06-15 12:46] dusterio commented on #39
there is an internal process (a daemon) running in the worker image - it's called sqsd. it's responsible for pulling from the queue, it's probably somewhere in the settings - you should be able to specify how often to poll

[2018-06-15 13:37] mwargan commented on #39
@dusterio hmm - took a look at AWS Beanstalk config settings and I couldn't find anything that'd allow me to specify how often to poll. So are you saying this is unrelated to the CRON schedule? Or even this awesome package?

I did find [Long-Polling on the AWS docs](https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-configure-long-polling-for-queue.html) using Receive M

[2018-06-27 20:02] rk847957 opened #40 "Followed the installation but EB worker is reporting 404 on /worker/schedule"
I have the cron setup to point to /worker/schedule but when deploying to EB it goes between ok and severe, the logs are saying the endpoint is returning a 404,

I have the queue setup and have the correct details in the application as well.

Do you have any ideas of what im missing?

Laravel version 5.4

[2018-06-30 20:22] rk847957 commented on #40
Sorry i fixed this by adding the document root to /public in my worker instance

[2018-06-30 20:22] #40 closed

[2018-07-15 17:42] slhender commented on #39
I have also recently ran into this issue and am wondering how to reduce this. We have recently seen this on a project that isn't currently sending any jobs to the queue yet has made over 850k requests.

[2018-08-23 12:36] khatri-sumankhatri opened #41 "Got an error after installing all the dependencies Call to undefined method Illuminate\Foundation\Application::post()"
Fatal error: Call to undefined method Illuminate\Foundation\Application::post() in ..local\vendor\dusterio\laravel-aws-worker\src\Integrations\LumenServiceProvider.php on line 36

[2018-08-23 22:43] BaseBuild opened #42 "Suddenly /worker/queue 404 error"
Hi, I've been using this in my project. Everything was working fine and then suddenly I get a 404 error. http://prntscr.com/km7t9q

This has happened to me before, re-creating the worker worked but I did that twice already and same problem happens again. I do not want to re-create the server again.

Please help me ASAP.

[2018-09-17 20:58] zellkz opened #43 "Laravel Job `failed` and `Queue::failing()` support?"
How does this package handle Laravel Job's `failed()` method and `Queue::failing()`?
https://laravel.com/docs/5.5/queues#dealing-with-failed-jobs

Is this not supported?
Do I need to create my own `failed` handling, and not use Laravel's built in `failed` logic?

[2018-09-18 09:53] cloudbluedigital opened #44 "develop.ERROR: Argument 3 passed to Illuminate\Queue\Worker::process() must be an instance of Illuminate\Queue\WorkerOptions"
Whenever I add the job to the queue it is being added however on my worker I get this error problem

[code]

What can I do to fix it?

[2018-09-26 11:26] 0lide commented on #44
@cloudbluedigital Is your Laravel version 5.7? Have you find solution for this?

[2018-09-27 08:23] gtlkirit commented on #44
Support Laravel 5.7 #45

[2018-09-27 08:32] N3evin opened #46 "Error 500 in AWS SQS"
Hey, I had my application and my worker set up in elasticbeanstalk. The jobs are being sent to the queue, however, in the log, I am getting 500 inside the eb of the SQS worker. It's been pointing to localhost or something all this while and receive 500. Does anyone have any idea?

[code]

[2018-09-27 12:55] DrCake commented on #46
Looks like your jobs are failing at some point. Have you tested the code you are running from the worker?

[2018-09-27 15:39] N3evin commented on #46
Thanks! Figure out what's the problem. Changing it to php7.1 solves the issues.

[2018-09-27 15:39] #46 closed

[2018-10-17 06:22] hzburki opened #47 "Messages Remain In Flight"
I have set up both my Web Tier as well as my Worker Tier with the same App. The web tier has
`REGISTER_WORKER_ROUTES=false` whereas the worker tier has `REGISTER_WORKER_ROUTES=true`.

I am pushing a job to SQS which simply edits an attribute in the database. But every time I push a new job it increments the counter **Messages In Flight** and nothing else happens.

[2018-12-04 09:44] eneskaya commented on #1
I know this issue is old but I recently stumbled upon the same problem. I noticed that when you use the `url()` helper method the actual output depends on the way you call that method. So, lets say you have `APP_URL=https://example.com` and a controller method which returns `url('test')` then you make a usual GET request by going to the specified route which returns the before mentioned, let’s say

[2018-12-05 03:27] Juhlinus commented on #47
I'm having this issue as well.

@hzburki did you manage to solve this?

[2018-12-09 12:39] hzburki commented on #47
@Juhlinus I can't help you ... I had to start the process from the beginning. And everything fell into place. I wasn't able to pin point what I was doing wrong. Sorry

[2018-12-09 13:07] Juhlinus commented on #47
I actually had the exact same experience! Thanks anyway!

[2018-12-12 10:52] Jono20201 opened #49 "QueueManager Singleton"
What is the technical reason for this package binding the QueueManager to a singleton?

This is causing issues with our queue configuration.

[2018-12-14 01:31] dusterio commented on #49
@Jono20201 to be honest, I don't remember - that was 2 years ago :))) have you tried swapping singleton for a normal binding? if it works fine, we could just change it in the package's service provider

[2019-01-07 11:37] TorbenL commented on #27
Hey @dusterio, I've just tried and assigned one of my workers to use a newly created FIFO queue. Seems like it didn't work. I was forced by AWS to end the name of the queue with `.fifo`. Should I use this suffix for the Laravel queue settings, too?

[2019-01-20 05:28] basebuild commented on #42
I came back to let you know that this is more like a server issue.

[2019-01-31 13:31] wayson opened #50 "BindingResolutionException occurred in queue method call"
I've upgraded Laravel from 5.3 to 5.4. I've encountered this errors a lot in production environment:

Illuminate\Contracts\Container\BindingResolutionException

This exception is thrown in **/Dusterio\AwsWorker\Controllers\WorkerController@queue**

The error message detail is as follows:
`
Error message
Illuminate\Contracts\Container\BindingResolutionException: Exception 'Illuminate\Contracts\Cont

[2019-02-03 01:38] wayson commented on #50
Found out it's caused by upgrading from 5.3 to 5.4 with AWS Beanstalk Immutable deployment enabled.

[2019-02-03 01:38] #50 closed

[2019-02-18 09:54] #14 closed

[2019-03-07 15:31] westonwatson commented on #31
I'm also not seeing the routes in Laravel 5.7, I'm curious as to how I can confirm this a similar issue as the above stated with Lumen 5.6...

`For now, we're manually registering these in ./routes`

[2019-07-24 10:13] vijaykumar1 opened #52 "Issue with WithoutOverLapping and Max tries"
I have two issues with my worker. How can I solve these two issues?

**1.  WithoutOverLapping:**
Ex: I have One job which runs every 5 mins. But sometimes the job might take more than 5 mins. In order to avoid multiple overlapping jobs, Laravel has a WithoutOverLapping concept. It is not working ( not even triggering the job) with the package. Is there any workaround? Or any plans to add support?

[2019-07-25 14:53] edward-aslin commented on #20
This was also the problem for me. I had an Elasticbeanstalk extension file forcing HTTP redirect.

I modified this with a conditional so it didn't run on the worker, and hey presto. It works.

[2019-07-26 11:18] tibinvpaul commented on #52
Hello @dusterio - is there anything to do with the package for `WithoutOverLapping not working` issue? Thanks in advance.

[2019-08-12 02:05] sebestenyb commented on #1
If you take a look into your `config/app.php` there's a clear indication:

[code]

This config value only used in the console.
In other cases Laravel uses the request, and with this package and ElasticBeanstalk the request comes as http://localhost

[2019-09-03 16:28] fylzero opened #54 "Please allow Laravel v6 in your composer file."
Laravel 6 was officially released today.  They are simply moving to SemVer and should not be considered a major breaking change update.  Please allow your package to include illuminate/support ^6.0

[2019-09-03 17:06] fylzero commented on #54
I created a PR for this.

[2019-09-06 06:47] rgundapu opened #56 "Throwing Exception"
Error : exception 'Dusterio\AwsWorker\Exceptions\MalformedRequestException' with message 'Unable to decode request JSON'

[2019-09-10 03:28] d3radicated commented on #54
Just commenting here that Laravel 6 support has been released.

[2019-09-10 06:33] alwinaugustin commented on #18
I have a time-consuming process and so it is not able to return `200` before the process is completed. My process is taking around half an hour to complete and I think it will not wait for that much time to receive the response. So my messages are going to in flight mode and is triggered repeatedly in the next schedule execution.  I also try to delete the message, but it is not posting the `Receip

[2019-09-12 04:06] fylzero commented on #54
Thank you!

[2019-10-02 19:06] aromka commented on #43
Any update on this? Wondering about the same thing - can the jobs be sent into Laravel's failed jobs instead of moved to "dead" queue on AWS?

[2019-10-09 15:39] colinpizarek opened #61 "Please support minor versions of Laravel 6.x"
Running Laravel 6.2, receiving this error:

I can see the error is in  `\Integrations\BindsWorker`. All supported minor versions are hardcoded here:

[code]

Minor versions are going to be coming faster than before, so I suspect this approach is not sustainable.

[2019-10-10 00:01] dusterio commented on #61
@colinpizarek sure, I've just changed it to a more generic expression! thanks for noticing and reporting this

[2019-10-10 00:01] #61 closed

[2019-10-10 08:47] alietors opened #62 "The command "schedule" does not exist. v0.1.21"
We just updated to the new version and we receive the following error
```The command "schedule" does not exist. {"exception":"[object] (Symfony\\Component\\Console\\Exception\\CommandNotFoundException(code: 0): The command \"schedule\" does not exist. at /var/app/current/vendor/laravel/framework/src/Illuminate/Console/Application.php:178)```

Can it be related with the new cron option functionalit

[2019-10-10 09:17] dusterio commented on #62
@alietors oops you are right, I made a typo in the constant. I've just pushed and tagged a fix! sorry for this

[2019-10-10 09:17] #62 closed

[2019-10-10 19:57] colinpizarek commented on #61
Much appreciated, thank you.

[2019-10-14 14:45] ruizr-ignacio commented on #62
I have this error v0.1.22 =>

`The command "laravel task" does not exist. {"exception":"[object] (Symfony\\Component\\Console\\Exception\\CommandNotFoundException(code: 0): The command \"laravel task\" does not exist. at /var/app/current/vendor/laravel/framework/src/Illuminate/Console/Application.php:179)`

[2019-10-24 10:14] arthur798 opened #63 "413 Entity too large?"
I am having trouble understanding how the way this package works, I send an email with a few attachments, so it does get send to sqs, however when it's being processed by the worker I am getting this issue:

[code]

However the actual email is send, but the item is put back in the queue and same errors appear, so it resends the email several times. What could have happened here? Why does it put to

[2019-12-20 08:32] yamotuki opened #64 "When queued mail includes routes(), It generate http://localhost"
SQS daemon request to `localhost` in ElasticBeanstalk worker environment.
When the queued mail processed by worker and its mail include `routes()` laravel helper function, It doesn't work as I expected.

For example,

- In the site of `https://example.com`, user requests and then the mail does not accumulate in queue is processed.  `route('dummy')` generate `https://example.com/dummy`.
- On the ot

[2020-01-11 18:59] marcellofuschi opened #65 "A job may execute twice when it takes a long time to run"
Hi! From what I understand, when you have a multiple worker server environment there should be no jobs executed twice thanks to the fact that AWS automatically deletes successfully executed jobs from the queue.

What concerns me, though, is that the way AWS achieves this is by setting a visibility timeout period (https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-visibi

[2020-01-14 14:04] arthur798 opened #66 "Unresolvable dependency resolving [Parameter #3 [ <required> callable $isDownForMaintenance ]] in class Illuminate\Queue\Worker"
I am getting this error when scheduling any type of job, what could be wrong? I am running laravel 6.10

[2020-01-16 20:11] marcellofuschi commented on #65
Just noticed Amazon Elastic Beanstalk worker's visibility timeout is configurable so the problem I described does not arise.

[2020-01-16 20:11] #65 closed

[2020-02-06 00:35] arianacosta commented on #16
From that @poisa 's link regarding jobs defined in `cron.yml`:

[2020-02-17 06:52] mccahan commented on #66
Do you happen to be using the Lumen provider, Dusterio\AwsWorker\Integrations\LumenServiceProvider? I have a pull request in on the same error message when using that one, #67

[2020-02-21 14:17] sinemacula commented on #66
I know what is causing this... It is the following line:

https://github.com/dusterio/laravel-aws-worker/blob/68d2d62d3888c70f74d0bb7dda91899fe8eaa158/src/Integrations/LumenServiceProvider.php#L50

`$this->app->version()` returns a `string`, not an `integer`, thus this condition never succeeds. That said, I am confused as to how this seems to be working for others... Can anyone elaborate on this?

[2020-02-22 10:59] dusterio commented on #66
@sinemacula I can see that Laravel returns a float, but Lumen returns a string. Is it possible that previous versions of Lumen returned float? This would explain it - maybe the "others" are on older versions?

[2020-02-22 11:03] sinemacula commented on #66
@dusterio I checked the Lumen framework code and it seems that the `Application` class has always returned a string. I assume that the only reason this has not been raised sooner is because most people use Laravel, not Lumen, and on top of that, not everyone has upgraded to version 6 so it is only a few people that would have noticed this issue...

Thank you for merging :-D

[2020-02-23 05:46] robincsamuel commented on #42
@basebuild Facing the same. It'd be great if you can share what exactly was the issue. :)
Thanks!

[2020-02-23 05:53] robincsamuel commented on #42
It worked after a restart for me, not sure about the root cause.

[2020-02-28 16:41] TheTiki opened #68 "Delayed Dispatching Issue with Auto-Scale or Server Failure"
I noticed that the delayed job dispatch will hold the job on the server until the delay time is met, and then send it to SQS. This means that if a server goes down before the job is triggered and sent to SQS, it will not be sent at all and thus never run. Is there a way to circumvent this or incorporate better support for laravel job dispatching delays?

[2020-02-28 22:51] dusterio commented on #68
@TheTiki no, this shouldn't be the case - SQS delay is handled by Amazon, so your app sends the message right away. The maximum delay is 15 minutes though. See more https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-delay-queues.html

[2020-02-28 22:51] #68 closed

[2020-03-04 09:24] BoyeMagnus opened #69 "Laravel 7 Support"

[2020-03-04 22:54] #69 closed

[2020-03-07 10:26] adityar15 opened #71 "AWS worker returns error 500. Message always in flight"
I am using Laravel 7.0 and dusterio laravel-aws-worker package for processing SQS jobs. Things work well on php artisan queue:work.

However, when I deploy the application with REGISTER_WORKER_ROUTES=true in .env file, it fails to process the job. The message always go in flight.

`
127.0.0.1 (-) - - [07/Mar/2020:10:12:08 +0000] "POST /worker/queue HTTP/1.1" 500 1558 "-" "aws-sqsd/2.4"
127.0.0.1 (

[2020-03-07 11:50] Nilanth opened #72 "Laravel 7 no support in BindsWorker"
Getting this issue after updating laravel to 7.

Argument 3 passed to Illuminate\Queue\Worker::process() must be an instance of Illuminate\Queue\WorkerOptions, int given, called in /var/app/current/vendor/dusterio/laravel-aws-worker/src/Wrappers/DefaultWorker.php on line 31

In \Integrations\BindsWorker. : no support for laravel 7

[code]
Could you please add support fot laravel 7?

[2020-03-07 12:32] dusterio commented on #72
@Nilanth I'll take a look at this shortly - tomorrow or the day after! thanks for reporting

[2020-03-07 12:32] dusterio commented on #71
@adityar15 I'm going to take a look at this shortly!

[2020-03-07 13:12] adityar15 commented on #71
That would really be appreciated. Thanks @dusterio

[2020-03-09 07:52] Nilanth commented on #72
@dusterio is there any update on this?

[2020-03-10 04:19] dusterio commented on #72
@Nilanth can you try again please? It should be ok now, works for me

[2020-03-10 04:20] dusterio commented on #71
@adityar15 since its a 500 error, there must be a proper exception in the laravel.log file?

[2020-03-10 04:20] #66 closed

[2020-03-10 04:20] #54 closed

[2020-03-10 04:21] #49 closed

[2020-03-10 04:21] #39 closed

[2020-03-10 04:23] dusterio commented on #64
@yamotuki its a known problem - Laravel behind CDN/load-balancers breaks the URLs. Our solution is the same as yours -  url->forceRootUrl(config('app.url')), looks redundant but it helps ;)

[2020-03-10 04:23] #64 closed

[2020-03-10 04:24] dusterio commented on #63
@arthur798 unfortunately both SQS and SNS have strict limits on message size, so you cannot send big JSON objects or attachments etc. You have to make sure you are sending "clean" jobs that can pull any files later if necessary (eg job starts and then downloads a file from S3) or make database queries to hydrate

[2020-03-10 04:24] #63 closed

[2020-03-10 04:25] #47 closed

[2020-03-10 04:40] Nilanth commented on #72
@dusterio Thanks it's working now.

[2020-03-10 04:50] #72 closed

[2020-03-10 09:13] adityar15 commented on #71
@dusterio thanks for the reply. I tried to check the log file and was not able to do it. So I sorted the issue by installing the supervisor and making it poll the messages. It worked perfectly.

[2020-03-10 09:17] dusterio commented on #71
@adityar15 the problem with this approach (supervisor) is that you will be polling even when the queue is empty. with AWS workers, you can rely on AWS to only send you a POST request when there is an actual job in the queue, it's already implemented by AWS

[2020-03-10 09:17] #71 closed

[2020-03-18 01:46] d3radicated commented on #43
The README should also be updated since there is no `FailedJobException` and it was removed at some point (because it was unused).

[2020-04-02 13:02] alexleeelkins commented on #27
bumping this

FIFO queues require an additional field to be POSTed to SQS: `MessageGroupId`

Notes on this field from AWS:

This parameter applies only to FIFO (first-in-first-out) queues.

The tag that specifies that a message belongs to a specific message group. Messages that belong to the same message group are processed in a FIFO manner (however, messages in different message groups might be p

[2020-04-03 16:37] wrabit opened #73 "Testing"
I am trying to write a test for the scheduling of task via /worker/schedule.

[code]

I am getting back `"{"message":["No scheduled commands are ready to run."],"code":200}"`

But when I uncomment that line, I am getting back the events as expected.

Do you happen to know what I'll need to do to get the WorkerController to the events back within my test?

Thanks

[2020-04-20 06:07] arjunksankar opened #74 "Not reading the environment variables"
Hi
I am using this package for running my crons. But I am facing an issue that it is not reading the environment variables which are set in the elastic beanstalk... But It works fine when I execute the command manually from my terminal..Can you please look into this issue?

[2020-04-20 06:47] dusterio commented on #74
@arjunksankar are you using config() helper in the code that in turn uses env() function?

[2020-04-20 07:49] arjunksankar commented on #74
@dusterio  Yes, I am using the default config which uses the env function...

'default' => env('DB_CONNECTION', 'mysql'),

[2020-04-28 12:48] wrabit commented on #1
@eneskaya using env outside of a config file, won't this cause issues when caching?

[2020-05-05 07:45] fschirinzi opened #75 "SECURITY: Set default of REGISTER_WORKER_ROUTES to false"
Hi Denis!

Thank you for this package, it's really helpful.

I have concerns about the security of this package.
Wouldn't it be better to set the default of the `REGISTER_WORKER_ROUTES`to  `false`, here my points:

If one forgets to set it to true,
- one will notice it pretty soon. (No emails are sent, no jobs are run)
- nothing bad happens, since the endpoints are closed

I could just fork the pa

[2020-05-05 09:44] dusterio commented on #75
@fschirinzi I agree with you, and I can't remember why I chose to do it this way, there must have been a reason :) please give me a day to try to remember what it was

[2020-05-06 14:23] mtx-z commented on #43
When I used auto-generated queues by Beanstalk: I add the dead letter SQS queue created and failed job were pushed there.
But, when I use an already created SQS queue: I don't have any dead letter queue. So I can't debug failed job: I only get "Job timeout stuff" in my laravel logs...

So the only way to manage this, with custom SQS queues, is to deal ourselves with a custom failed process/busines

[2020-05-06 23:36] dusterio commented on #43
@mtx-z this is controlled by AWS EB, not this package? AWS daemon will hit our endpoint with the payload and if it doesn't get a valid (200) response, it's going to move the job to the dead queue. there is no way we can control this, I think. cannot you just manually select a dead letter queue?

[2020-05-06 23:53] dusterio commented on #43
@zellkz @aromka failed jobs are already implemented in the Elastic Beanstalk, if a request returns a non-ok (200) code, EB is going to put the job in the dead letter queue

Moving jobs to local, Laravel-specific dead queue sounds a bit like a hack? Wouldn't it be better to make "php artisan retry" work with Amazon's dead letter queue instead and fully utilise what they are providing? Dead letter q

[2020-05-07 11:54] mtx-z commented on #43
@dusterio with more tests, I was able to:

- use a custom SQS queue 1 (not generated with Beanstalk)
- create another "deadLetter" queue 2, manually so
- configure queue 1 DeadLetter Settings to push message to the queue 2 on fail

But with this configuration, I'm not able to start a `php artisan queue:failed` to try to work on failed message, cause it's SQS that post us messages.
So, I would need

[2020-05-18 07:28] flefloch-payps opened #76 "Scheduler seems to execute tasks as root user"
Hello,

first of all thanks for this package.
I'm not sure this issue is related to the package or to an error in EB configuration, but it seems that the tasks are run by a root user and not webapp user.
I have a task run each day at midnight and among others it's creating the new daily log file and a tmp file, and both seems to be created with limited root access. So classic webapp user which run

[2020-06-24 15:30] fschirinzi commented on #75
Any updates here? :)
Should I do a Pull-request?

[2020-07-01 14:37] mrozbarry opened #77 "Can't access variables off job class"
On a project, we have a parent abstract class:

[code]

All of our classes that extend TransactionJob, but when we use `$this->log('stuff')`, it never seems to be able to read `$this->jobId`, and in fact, I don't seem to get anything from `$this->`, whether it's public/protected/private.

I'm not a Laravel expert, but the docs for Laravel 6.x seem to indicate this is mostly correct. Your docs ment

[2020-08-17 15:07] lukascocula opened #78 "Support for Lumen 7"
Hello,

there is check for Lumen version in [LumenServiceProvider](https://github.com/dusterio/laravel-aws-worker/blob/master/src/Integrations/LumenServiceProvider.php), line: 52, to perform registration of Worker.

My current version of Lumen is `Lumen (7.2.1) (Laravel Components ^7.0)`, so it is not matching. It re-opens problem [reported and fixed here](https://github.com/dusterio/laravel-aws-w

[2020-08-17 23:05] tvillafane commented on #78
You can write your own service provider that takes away that logic:
[code]

And then in the bootstrap.php file:
`$app->register(App\Providers\LumenSQSServiceProvider::class);`

[2020-08-18 09:35] lukascocula commented on #78
Yes, I already implemented my custom version fo LumenServiceProvider and register it instead of library provider. I'm reporting this to be resolved for other developers.

[2020-08-19 01:14] tvillafane commented on #78
Yes, and I am just commenting to help less talented developers 👍

[2020-10-14 23:17] mfurgal opened #80 "Broken Laravel 7 worker support"
Hello,

In Laravel7Worker.php:34 WorkerOptions object is created as if it was Laravel 8 (passing value for $name) causing unexpected behaviour.

We have:
[code]
We should have:
[code]

Additionally in WorkerController.php:150 we now have default value for maxTries set to 1 but it was 0 before and it also changes how app interacts with queue.

[2020-10-14 23:22] dusterio commented on #80
@mfurgal thanks for reporting this quickly, I've just restored the old format for Laravel 7, as well as the default value of maxTries

[2020-10-14 23:22] #80 closed

[2020-10-14 23:57] mfurgal commented on #80
@dusterio Thank you!

[2020-10-22 11:41] CristianSitov opened #81 "preg_match fails matching tries & timeouts"
See
https://github.com/dusterio/laravel-aws-worker/blob/aa8b6420769788a8bd4f03d844231ac4ede3a5a8/src/Controllers/WorkerController.php#L155

`preg_match` fails to match input body for tries & timeout. I have tested changing those 12 slashes into ~~2~~ 3 slashes only and conditions were not failing anymore.

[code]

[2020-10-29 15:56] tvillafane commented on #56
You might need to base64 encode your job parameters when you instantiate your job and decode on handle.  I had this issue with emails and I ended up having to encode the body when I passed it to the job.

[2020-11-13 15:35] gbwashleybrown commented on #18
Currently having this issue... no idea how to fix this.

[2020-11-25 08:21] Nilanth opened #82 "Maximum execution time of 60 seconds exceeded"
I have added timeout as 120 seconds in the job class, but the job is failing with **Maximum execution time of 60 seconds exceeded** with this error.
Could anyone help to solve this issue?

[2021-02-26 15:58] faculezcano opened #83 "UTF-8 characters unserialize() error at offset"
Hi! First of all, thanks for such a useful package.

Im having troubles with data unserialization from SQS. Looking arround a bit i found this forum [post](https://forums.aws.amazon.com/message.jspa?messageID=94774) so i think it could be related to UTF-8 characters encoding to 1 character (possibly a ?) and php expecting 2 characters.
At the end of the forum post says that setting the charset in

[2021-03-04 19:48] brad-tilmor commented on #83
I've been having the same issue for months, and it's been difficult to debug and test +1

[2021-03-15 15:11] cbcoolbox commented on #83
We are running into unserialization issues also, for us it seems to be based around two spaces in a row. We haven't been able to figure out how or why this is happening. There are no special characters or anything, if we remove one of the spaces in the sqs message it works fine so two spaces is somehow an issue.

[2021-03-16 16:32] enesgur opened #84 "Manually Releasing not working"
Hello there,

I am using Laravel 8 and laravel-aws-worker (0.1.30) version.

I want to return a job to SQS manually. I'm using "[$this->release](https://laravel.com/docs/8.x/queues#manually-releasing-a-job)" method for that but job didn't return to SQS.

Does this library support the manually release method?

[2021-03-19 12:21] MPJHorner commented on #83
Just upgraded to Laravel 8 and getting this issue. Any idea to find out which ones are an issue?

[2021-03-19 12:21] MPJHorner commented on #83
What do you mean "remove one of the sapces in the SQS message" ?

[2021-03-22 12:43] brad-tilmor commented on #83
@dusterio Do you have any idea what the cause of this might be (or have you run into it yourself)?

Update on my end, I ended up implementing a base64_encode workaround, and that seemed to solve it for a while, but after more requests were processed, I started seeing the error come up again, albeit less frequently.

[2021-03-22 13:25] enesgur commented on #84
I think, it's not related to  laravel-aws-worker.

[2021-03-22 13:25] #84 closed

[2021-03-22 13:33] cbcoolbox commented on #83
We are using beanstalk and we were able to talk to an AWS tech and they said they were able to reproduce this issue on their side. It apparently is some sort of bug with the daemon they have that reads from the sqs queue and shoves it into where the laravel worker can read it. We weren't giving a timeline on a fix or if they will even fix it but that's what we found out.

[2021-03-22 15:28] brad-tilmor commented on #83
If anyone's interested in putting up some cash on a bug bounty, here's where you can do that. Currently working on getting the boss' approval to do the same

https://www.bountysource.com/issues/96977341-utf-8-characters-unserialize-error-at-offset?show_profile_modal=1

[2021-04-02 08:08] Nilanth commented on #83
@cbcoolbox Any updates?

[2021-04-04 04:22] JulioPablo commented on #83
I can also confirm the behavior specified by @cbcoolbox with the double spaces, I was able to mitigate it in some cases by sanitizing any string that goes in the job with `preg_replace('/\s+/', ' ', $yourString);`  and that lowered the amount of instances where this error was thrown, but this is not ideal/possible in all cases.

[2021-04-05 21:36] cbcoolbox commented on #83
@Nilanth No updates at all. We are now moving to docker and ECS to use SQS more directly to go around their daemon that's breaking everything. We have some silly hacky fixes similar to what @JulioPablo did for the time being. technically the base64 encoding of your message would be the best "fix" we had that work also but feels terrible to code this way. best of luck!

[2021-04-12 11:13] jdempster commented on #83
Since upgrading elastic beanstalk to Amazon Linux 2 we've come across the same issue.
In the end, I've found the problem is in the ruby aws SDK XML parser, it's configured to strip whitespace.
`/opt/elasticbeanstalk/lib/ruby/lib/ruby/gems/2.6.0/gems/aws-sdk-core-2.11.546/lib/aws-sdk-core/xml/parser/engines/ox.rb`

The solution for me was to create a prebuild hook to patch the ruby file.
[code]

[c

[2021-04-16 21:00] Gatts011 opened #85 "No routes in routes list - laravel 8"
@dusterio can you confirm this is working in laravel 8? Not seeing routed in route:list

[2021-04-17 00:35] dusterio commented on #85
@Gatts011 yep it does, we use it heavily in our setup

[2021-04-17 00:35] #85 closed

[2021-04-17 10:59] Gatts011 commented on #85
Thanks, just tried uploading and works well, even with fifo! routes
didnt show on list command locally but who cares!
thanks a ton, saved a life today!

On Sat, 17 Apr 2021 at 02:35, Denis Mysenko ***@***.***>
wrote:

[2021-04-20 10:23] Gatts011 commented on #85
Sorry to bug you again,

Im using

RemoveLTDReservation::dispatch($sessionId, $cartKey, $uniqueId)
        ->delay(now()->addMinutes(1));

for delay on message, but delay is never triggered, always instantly
consumed.
I have set delay in SQS Queue, also no effect,
tried setting delay in controller, same thing.
Im using a standard SQS queue(not fifo).

Im sure the error is my side, just want to kno

[2021-04-22 09:29] Gatts011 opened #86 "provider not registered"
Using laravel:^8.12 fresh project, set REGISTER_WORKER_ROUTES=true in .env, after composer require or manually adding to composer.json , provider is never registered in config>app.php>providers array. php artisan route:list route not listed, added routes manually to web.php and post is executed in eb logs but nothing returned to webtier.

Tried composer dump-autoload and php artisan config:clear

[2021-04-28 19:25] brad-tilmor commented on #83
To piggyback on @jdempster 's answer, I had permission issues using a prebuild hook, so I decided to put it all in an an ebextension file called `.ebextensions/fix-xml-parsing.config`, if that's helpful to anyone. Not sure yet if this will actually solve the problem, as I can't reliably replicate the error, but I'm hopeful! I'll post an update once enough time has passed that I can be confident it

[2021-05-01 20:42] jdempster commented on #83
The permission denied issue will most likely be missing the execute flag `chmod +x` before you zip up the files.

[2021-05-17 13:47] Nilanth commented on #83
@cbcoolbox Which driver are you using for SQS in ECS?

[2021-05-17 14:14] cbcoolbox commented on #83
@Nilanth We have a separate container for jobs and laravel reads directly from SQS. Pretty sure it's just built into laravel (I don't use laravel we are helping other products on our team that do).

[2021-05-18 12:56] Nilanth opened #87 "Concurrent Process"
Does this package process message from SQS concurrently? If yes. Is possible to limit it?

[2021-05-18 13:15] dusterio commented on #87
@Nilanth this is configured on AWS side - in EB settings :) you can set it to anything you like - just 1 process or 100 processes

[2021-05-18 13:15] #87 closed

[2021-06-04 14:30] davecalnan commented on #83
@jdempster and @brad-tilmor this has worked a treat for us thank you so much for sharing!

[2021-06-04 14:48] Nilanth commented on #83
@jdempster and @brad-tilmor this worked for me too, Thanks for sharing.

[2021-06-25 06:02] #82 closed

[2021-07-08 08:55] enesgur opened #88 "Laravel 8 Interface is not instantiable"
Hello there,

I'm using Laravel 8.40 and laravel-aws-worker 0.1.30. After I installed, I got following errors;

`[2021-07-08 08:50:58] local.ERROR: Target [Dusterio\AwsWorker\Wrappers\WorkerInterface] is not instantiable. {"exception":"[object] (Illuminate\\Contracts\\Container\\BindingResolutionException(code: 0): Target [Dusterio\\AwsWorker\\Wrappers\\WorkerInterface] is not instantiable. at /va

[2021-07-08 09:19] enesgur commented on #88
I found the problem, I didn't register the service provider. I added the following code to the `app/Providers/AppServiceProvider.php`

[code]

[2021-07-08 09:19] #88 closed

[2021-08-04 17:31] pushpak commented on #83
Looks like this issue has been fixed in the latest platform version of 3.3.4

[2021-08-12 21:18] mtx-z opened #89 "How to define max "workers" (max simultaneous task per worker server)"
Hello,

I'm using this package to handle the queue system between 2 Beanstalk instantiated EC2. One dispatching task, the other listening and executing queued messages. This works great.

But, when dispatching many tasks, my "task" server is going crazy as executing many tasks in parallel. The "queue" lost its interest in this case.

I tried to reduce the number of "HTTP connections", but I still

[2021-08-13 12:26] mtx-z commented on #89
UPDATE:

The max HTTP connections seem to be the way to define "max workers" and so parallel tasks.
I set max HTTP connections, and I can see max 5 HTTPD process consuming when checking on SSH with HTOP.

But:

- In AWS SQS interface, I still see 20 to 60 "in flight" messages. Why? It should be 5 max.
- some HTTPD process are kept running, consuming memory, and keeping X of my 5 connection active.

[2021-08-14 04:13] dusterio commented on #89
@mtx-z you can configure this in AWS EB settings? It's not a part of the package, the package itself cannot regulate how many tasks is it going to process in parallel. your worker environment in AWS will have settings such as task time out, maximum number of parallel tasks, etc

[2021-08-14 04:13] #89 closed

[2021-11-04 10:29] canast02 commented on #43
Any update or suggestions on this?

[2021-11-12 15:28] un-code-dev commented on #43
Any updates  or suggestions?

[2021-12-11 01:37] kalecio commented on #86
Hey @Gatts011 you will need to add this in your config/app.php as it's stated in the README

[code]
After that you will be able to check those special routes with `php artisan route:list`

You should use QUEUE_CONNECTION=sqs since QUEUE_DRIVER has being substituted by that since laravel 5.7 I think.

You don't need the cron.yaml example if you are not using schedules

[2022-01-24 16:58] mtx-z commented on #32
Hello,

I have a similar issue with my beanstalk worker.
I tried many times to pinpoint any issue in my code, our business logic, the queries, etc... But I can't figure out why my worker always goes 100% of memory.

- After a server reboot, everything goes fine for half-hour to a few days. But at a point, my worker goes 100% of memory, and the server crash "silently" as no tasks are processed anym

[2022-01-31 18:34] mtx-z commented on #32
My issue was not related to SQS or this package. Memory consumption was induced by a Laravel Cloudwatch log driver with a large default batch size (see https://github.com/maxbanton/cwh/issues/7#issuecomment-1025236597), filing the memory up on long-running processes.

[2022-06-20 20:53] Uplink03 commented on #75
This is an awesome way to run _any_ `artisan` command from the Internet on random websites that deploy this package 🥇  `down`, for example, is a good start.

[2022-06-21 09:24] dusterio commented on #75
@fschirinzi yes a PR please :)

[2022-06-21 20:10] fschirinzi commented on #75
Hi @dusterio, this issue is already 2 years old, and I'm not using this package any more since a long time now.
I will not be able to do a PR, sorry. You can close this issue if you like.

[2022-06-22 10:26] #75 closed

[2022-10-26 13:34] saleoid commented on #16
How I can process jobs in multiple queues with this. Any suggestions would be great?